<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="shortcut icon" th:href="@{/img/link.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>

<body th:style="'background-image:url('+ @{/img/night_sky.jpg} +'); background-repeat: no-repeat, repeat; background-size: cover;'">
    <div class="grid">
        <div class="header">
            <h1>URL SHORTENER</h1>
        </div>
        <div class="content">
            <div class="info-wrapper">
                <h2>
                    IS YOUR LINK TOO LONG?
                </h2>
                <span>
                    Go ahead and grab a shorter one!
                </span>
            </div>
            <div class="input-wrapper">
                <input type="text" id="original-url">
                <button id="shorten-btn">shorten</button>
            </div>
            <div class="result-wrapper" id="result-wrapper" style="visibility: hidden;">
                <span class="result" id="result-url"></span>
                <button id="result-copy-button">
                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</body>

</html>